@font-face {
    font-family: 'FuturaPTDemi';
    src: url('..//fonts/FuturaPTDemi.otf');
}

@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.otf');
}


@font-face {
    font-family: 'Adieu';
    src: url('../fonts/Adieu.otf');
}

body {
    background-color: black;
}

.premiere-partie {
    background-image: url(../images/background.png); 
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.troisieme-partie {
    background-image: url(../images/background2.png); 
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: top 0.2s ease-in-out;
}


.hidden {
  display: none;
}


.navbar{
    background-image: url(../images/gradient.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 2vw;
    display: flex;
    transition: transform 0.3s ease-out;
    padding-bottom: 1vw;
    justify-content: space-evenly;
}

.navbar.scrolling-up {
    transform: translateY(-100%);
}


a {
    color: white;
    font-family: 'Gotham Light';
    font-size: 1vw;
}
.logo {
    width: 1.5vw;
    margin-bottom: 5vw;
}
.logo-colloque {
    width: 30vw;
}

.logo-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbard {
    color: white;
    display: flex;
    margin-top: 1vw;
}



.navbard a {
    color: white;
    font-family: 'Gotham Light', sans-serif;
    font-size: 1vw;
    margin-right: 2vw;
    white-space: nowrap;
    text-decoration: none;
}

a{
    transition: all 1s;
}

a:visited {
    text-decoration: solid;
    color: white;
}

a:hover{
    font-size: 1.1vw;
}

p {
    color: white;
}

.corps{
    display: block;
    font-family: 'Adieu';
}

.titre {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    margin-top: 32vw;
    margin-left: 5vw;
    font-size: 3vw;
}

.titre2 {
    font-family: "Gotham Black";
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    font-size: 8vw;
}

.titre3 {
    font-family: "Gotham Black";
    padding-left: 13vw;
    font-size: 1.7vw;
    padding-top: 13vw;
}

.titre4 {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    margin-top: 40vw;
    margin-left: 16vw;
    font-size: 2.9vw;
}

.titre5 {
    font-family: "Gotham Black";
    margin-left: 16vw;
    font-size: 4vw;
    padding-top: 0.5vw;
}

.titre6 {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    margin-top: 15vw;
    margin-left: 16vw;
    font-size: 2.9vw;
}

.titre7 {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    margin-top: 10vw;
    margin-left: 16vw;
    font-size: 2.9vw;
}

.nom-intervenant {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    /* height: 3vw;
    margin-top: 10vw; */
    font-size: 1.7vw;
    white-space: nowrap;
}

.paragraphe {
    font-family: 'Gotham Light', sans-serif;
    padding-left: 13vw;
    padding-top: 1vw;
    font-size: 1.11vw;
}

.paragraphe em {
    font-family: "Gotham Black";
}

.bloctexte {
    display: block;
}

.bloc {
    display: flex;
}

.imageparagraphe {
    width: 28vw;
    height: 15vw;
    margin-left: 7vw;
    margin-top: 10vw;
}

.bouton {
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    border: 1px solid white;
    border-radius: 5px / 5px;
    font-family: 'Gotham Light', sans-serif;
    margin-top: 43vw;
    font-size: 1.4vw;
    margin-left: 13vw;
}

.bouton:hover {
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.132);
}


.blocimage {
    display: flex;
    margin-left: 16vw;
    margin-top: 2vw;
    gap: 2vw;

}

.carte2022 {
    position: relative;
}

.carte2023 {
    position: relative;
}

.textecarte {
    font-size: 1.8vw;
    font-family: "Gotham Black";
    position: absolute;
}

.textecarte2 {
    font-size: 1.6vw;
    font-family: "Gotham Black";
    position: absolute;
    left: 55rem;
    bottom: -113rem;
}

.intervenant1 {
    margin-top: 2.5vw;
    margin-left: 16vw;
    display: flex;
    gap: 30vw;
}

.intervenant2 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenant3 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenant4 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenant5 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenantbox {
    display: flex;
    gap: 34vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.20);
    padding: 1vw;
}


.fleche {
    width: 1.5vw;
    fill-opacity: 0.5;
}

.fleche:hover {
    fill-opacity: 1;
}

.voirpluscss:hover {
    text-decoration: underline;
    cursor: pointer;
}

.voirpluscss {
    font-size: 1.3vw;
    font-family: 'Gotham Light', sans-serif;
}

.voirplus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}