@font-face {
    font-family: 'FuturaPTDemi';
    src: url('..//fonts/FuturaPTDemi.otf');
}

@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.otf');
}


@font-face {
    font-family: 'Adieu';
    src: url('../fonts/Adieu.otf');
}

body {
    background-color: black;
}

.premiere-partie {
    background-image: url(../images/background.png); 
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.troisieme-partie {
    background-image: url(../images/background2.png); 
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: top 0.2s ease-in-out;
}


.hidden {
  display: none;
}


.navbar{
    background-image: url(../images/gradient.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 2vw;
    transition: transform 0.3s ease-out;
    padding-bottom: 1vw;
}

.navbar.scrolling-up {
    transform: translateY(-100%);
}

.menu-items {
    display: none;
}

a {
    color: white;
    font-family: 'Gotham Light';
    font-size: 1vw;
}
.logo {
    width: 1.5vw;
    margin-bottom: 0vw;
}
.logo-colloque {
    width: 30vw;
}

.logo-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbard {
    color: white;
    display: flex;
    margin-top: 1vw;
}

.nav-container {
    display: flex;
    position: relative;
    height: 60px;
    justify-content: space-evenly;
  }

.navbard a {
    color: white;
    font-family: 'Gotham Light', sans-serif;
    font-size: 1vw;
    margin-right: 2vw;
    white-space: nowrap;
    text-decoration: none;
}

a{
    transition: all 1s;
}

a:visited {
    text-decoration: solid;
    color: white;
}

a:hover{
    font-size: 1.1vw;
}

p {
    color: white;
}

.corps{
    display: block;
    font-family: 'Adieu';
}

.titre {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    margin-top: 32vw;
    margin-left: 5vw;
    font-size: 3vw;
}

.card {
    max-width: 39vw;
}

.hamburger-lines {
    display: none;

}

.checkbox {
    display: none;
    color: #000000;
}

.titre2 {
    font-family: "Gotham Black";
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    font-size: 8vw;
}

.titre3 {
    font-family: "Gotham Black";
    font-size: 1.7vw;
}

.titre4 {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    font-size: 2.9vw;
}

.titre5 {
    font-family: "Gotham Black";
    font-size: 4vw;
    padding-top: 0.5vw;
}

.titre6 {
    font-family: 'Gotham Light', sans-serif;
    height: 3vw;
    margin-top: 15vw;
    font-size: 2.9vw;
}

.titre7 {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3vw;
    margin-top: 10vw;
    margin-left: 16vw;
    font-size: 2.9vw;
}

.nom-intervenant {
    font-family: 'Gotham Light', sans-serif;
    align-items: center;
    justify-content: center;
    /* height: 3vw;
    margin-top: 10vw; */
    font-size: 1.7vw;
    white-space: nowrap;
}

.paragraphe {
    font-family: 'Gotham Light', sans-serif;
    font-size: 1.11vw;
}

.paragraphe em {
    font-family: "Gotham Black";
}

.bloctexte {
    display: block;
}

.burger {
    display: none;
}

.bloc {
    display: flex;
    margin-top: 12vw;
    justify-content: space-evenly;
}

.bloc2 {
    display: flex;
    margin-top: 12vw;
    justify-content: space-evenly;
}

.imageparagraphe {
    width: 28vw;
    height: 15vw;
}

.bouton {
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    border: 1px solid white;
    border-radius: 5px / 5px;
    font-family: 'Gotham Light', sans-serif;
    margin-top: 3vw;
    font-size: 1.4vw;
    margin-left: 7vw;
}

.bouton:hover {
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.132);
}


.blocimage {
    display: flex;
    margin-top: 2vw;
    gap: 2vw;

}

.carte2022 {
    position: relative;
}

.carte2023 {
    position: relative;
}

.textecarte {
    font-size: 1.8vw;
    font-family: "Gotham Black";
    position: absolute;
}

.textecarte2 {
    font-size: 1.6vw;
    font-family: "Gotham Black";
    position: absolute;
    left: 55rem;
    bottom: -113rem;
}

.intervenant1 {
    margin-top: 2.5vw;
    margin-left: 16vw;
    display: flex;
    gap: 30vw;
}

.intervenant2 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenant3 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenant4 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenant5 {
    margin-left: 16vw;
    display: flex;
    gap: 20vw;
}

.intervenantbox {
    display: flex;
    gap: 34vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.20);
    padding: 1vw;
}


.fleche {
    width: 1.5vw;
    fill-opacity: 0.5;
}

.fleche:hover {
    fill-opacity: 1;
}

.voirpluscss:hover {
    text-decoration: underline;
    cursor: pointer;
}

.voirpluscss {
    font-size: 1.3vw;
    font-family: 'Gotham Light', sans-serif;
}

.voirplus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

.archives {
    display: flex;
    flex-direction: column;
    margin-left: 11vw;
    margin-right: 9vw;
}

.noustrouver {
    display: flex;
    flex-direction: column;
    margin-left: 11vw;
    margin-right: 9vw;
}

.maps {
    margin-top: 1vw;
}

.noustrouvertext {
    display: flex;
}

.bold {
    font-family: "Gotham Black";
}

.titre-archives {
    position: absolute;
    font-size: 2vw;
    font-family: "Gotham Black";
    color: white;
}

.date-archives {
    position: absolute;
    font-size: 1.2vw;
    font-family: "Gotham";
    color: white;
}

.card-archives-1 {
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.card-archives-2 {
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

@media (max-width: 768px) {
    .corps {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 21vw;
    }
    .card {
        max-width: 70vw;
    }
    .titre {
        margin-top: 1vw;
        margin-bottom: 2vw;
        font-size: 5.5vw;
        text-align: center;
        margin-left: initial;
    }
    .titre2 {
        text-align: center;
        font-size: 17.2vw;
        margin-left: initial;
        line-height: 17vw;
    }
    .bloc {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 24vw;
    }
    .bloc2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .titre3 {
        font-size: 6vw;
        text-align: center;
    }
    .titre4 {
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .titre5 {
        font-size: 6vw;
    }
    .titre6 {
        font-size: 5vw;
    }
    .paragraphe {
        font-size: 2.5vw;
        text-align: center;
    }
    .imageparagraphe {
        margin-bottom: 1.5vw;
        width: 65vw;
        height: 34vw;
    }
    .archives {
        align-items: center;
    }
    .blocimage {
        display: flex;
        margin-top: 5vw;
        flex-direction: column;
    }
    .bloctexte {
        text-align: center;
    }
    .bouton {
        padding-top: 1.6vw;
        padding-bottom: 1.6vw;
        padding-left: 2.8vw;
        padding-right: 2.8vw;
        margin-left: initial;
        font-size: 3.4vw;
    }
    .burger {
        display: block;
    }
    .bar {
        display: none;
    }
    .hamburger-lines {
        display: block;
    }
    .menu-itemps {
        display: block;
    }
    .checkbox {
        color: #000000;
    }
    .noustrouvertext {
        justify-content: center;
    }
    .maps {
        margin-top: 3vw;
    }
}


iframe.maps {
	width: 1090px;
	height: 427px;
	left: 173px;
	top: 3280px;
	border: 1px solid #000000;
	border-radius: 20px;
}
	
div.maps {
	display: flex;
}































/* Au niveau le plus haut du code */
@media screen and (min-width: 501px) {


  }





























/* Au niveau le plus haut du code */
@media screen and (max-width: 768px) {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      font-family: "Poppins", sans-serif;
    }
    
    .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
    
    .navbar {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
    
    .navbar .menu-items {
      display: flex;
    }
    
    .navbar .nav-container li {
      list-style: none;
    }
    
    .navbar .nav-container a {
      text-decoration: none;
      color: #0e2431;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem;
    }
    
    .navbar .nav-container a:hover{
        font-weight: bolder;
    }
    
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
    
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
    
    .nav-container .hamburger-lines {
      display: none;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: grey;
    }
    
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
    
    .navbar .menu-items {
      padding-top: 120px;
      box-shadow: inset 0 0 2000px rgb(255, 255, 255);
      height: 100vh;
      width: 100%;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
      text-align: center;
      background-image: url("/HUB/images/Rectangle 1.png");
    }
    
    .navbar .menu-items li {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
    
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 1.2rem;
      color: #fff;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
      display: none;
      color: #000000;
    }
  }



 